body {
    background-color: black;
    font-family: "DM Sans", sans-serif;
}

h1 {
    color: white;
}

.logo {
    background: #121212;
    display: flex;
    border-radius: 8px;
    padding: 16px;
}

.logo img {
    width: 80px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar_navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar_navigation .logo {
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar_navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    transition: 0.5s;
}

.sidebar nav ul li a:hover {
    color: #fff;
}

.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    flex-direction: column;
    min-block-size: 40px;
}

.library_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.library .library_button {
    margin-right: 10px;
    margin-left: 16px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px 10px;
    display: flex;
}

.library .library_button span {
    font-size: 14px;
    transition: 0.5s;
}

.library .library_button:hover {
    cursor: pointer;
    color: #fff;
}

.library .library_button .fa {
    font-size: 14px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library_content .plus_background {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: 0.5s;
}

.library .library_content .plus_background:hover {
    background-color: #212121;
    color: #fff;
 }

.playlist {
    color: #fff;
    background-color: #242424;
    border-radius: 8px;
    padding: 16px;
 }

 .library .playlist .text {
    padding: 10px;
    display: flex;
    flex-direction: column;
 }

 .library .playlist .text .first-text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
}

 .library .playlist .text .second-text {
    font-size: 12px;
    font-weight: 0;
    margin-bottom: 1rem;
    font-family: "Arial", sans-serif;
 }

 .library .playlist .button-playlist {
    background-color: #fff;
    color: #121212;
    display: block;
    border-radius: 20px;
    margin-left: 6px;
    padding: 8px 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button-playlist:hover {
    transform: scale(1.05);
}

.library .cookies {
    padding: 16px;
    margin-left: 6px;
}

.library .language-button {
    color: #fff;
    width: 200px;
    padding: 6px;
    margin: 1rem 1rem;
    font-size: 14px;
    font-weight: 300;
    background-color: #121212;
    border-radius: 20px;
    border: 1px solid #696969;
    transition: transform 0.3s ease;
}

.library .language-button .fa {
    font-size: 14px;
    font-weight: 300;
}

.library .language-button:hover {
    transform: scale(1.05);
    border: 1px solid #fff;
}

.disclaimer_premium {
    background: linear-gradient(to right, #ae2896, #509bf5);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}

.text_disclaimer {
    color: #fff;
}

.text_disclaimer .title {
    padding-bottom: 6px;
    font-weight: 700;
}

.text_disclaimer .subtitle {
    font-weight: 600;
}

.disclaimer_button {
    color: #000;
    background-color: #fff;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    padding: 12px;
    width: 200px;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.disclaimer_button:hover {
    transform: scale(1.05);
    font-weight: bolder;
}